/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Estilo de info importante */



 .zonainfo {
    background-image: url("img/conferencia.jpg");
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: auto 650%;
  }

  .recuadro_info {
    width: 36%;
    margin: auto;
    padding-left: 20px;
    border: 2px solid #000000;
    background-color: #fffcfc;

  }

  /* Estilos para el botón de inscripción */
  .boton-inscripcion {
    margin-top: 20px;
    margin-left: 27%;
  }
  
  .boton-inscripcion a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .boton-inscripcion a:hover {
    background-color: #34495e;
  }
  
  /* Estilos para los ponentes */
  .ponente {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 20px;
    vertical-align: top;
  }
  
  .ponente img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .ponente h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .ponente p {
    margin: 0;
    font-size: 0.9em;
  }
  
  /* Estilos para el pie de página */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}